/* info page */

.info {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: 3fr 6fr 3fr;
    gap: var(--gap);
  
    padding: var(--padding) 0 0 0;
  
    min-height: calc(100vh - 6rem);
}
  
  .info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .info ul li:before {
    /* content: "-"; */
    content: "—";
    margin-right: 5px;
  }
  
  .info .label {
    --weight: 400;
    font-weight: var(--weight);
    /* font-size: 0.75rem; */
    /* line-height: 1rem; */
    min-height: var(--gap);
  
    /* font-variant: small-caps; */
    /* padding-bottom: 0.5rem; */
    border-bottom: var(--border-size) solid var(--main-color);
    margin-bottom: 1.5rem;
  }
  
  .info__headshot {
    grid-row: 1 / 3;
  }
  
  .info__bio {
  }
  
  .info__links {
  }
  
  .info__recent {
    /* order: 4; */
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .info__bio {
  }
  
  .info__statement {
  }
  
  .info__cv {
  }
  
//   .info__headshot {
//     grid-column-start: 1;
//     grid-column-end: 4;
//   }
  
//   .info__bio {
//     grid-column: 4 / span 6;
//   }
  
//   .info__statement {
//     grid-column-start: 4;
//     grid-column-end: 10;
//   }
  
//   .info__cv {
//     grid-column-start: 10;
//     grid-column-end: 13;
//   }
  
//   .info__links {
//     grid-column-start: 1;
//     grid-column-end: 4;
//   }
  
//   .info__recent {
//     grid-column-start: 1;
//     grid-column-end: 4;
//   } 
  