$screen-sm-min: 600px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 850px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 950px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xl-min: 1px;

/* Table Page */
.list-view{
  min-height: 100vh;

  .works {
    /* border: none; */
    width: 100%;
    min-height: calc(100vh - 16rem);
    /* padding: 3rem; */
    position: relative;

    margin-top: 4rem;
    /* font-size: 1.3rem; */
    /* font-weight: bold; */
    font-weight: normal;

    .work-sorters {
      position: -webkit-sticky;
      position: sticky;
      top: calc(var(--border-size) + var(--gap) + 1.1rem);
      background-color: var(--background);
      line-height: 1.1rem;
      display: grid;
      border-bottom: var(--border-size) solid var(--main-color);
      grid-template-columns: 3fr 6ch 2fr 2fr 2fr 12ch;
      grid-gap: 1rem;
      padding: 1rem 1rem;

      
      @media (max-width: $screen-md-max) { 
        grid-template-columns: 3fr 6ch 2fr 2fr 12ch;
      }

      @media (max-width: $screen-sm-max) { 
        grid-template-columns: 3fr 6ch 2fr 2fr;
        top: calc(var(--border-size) + var(--gap) + 2rem);
      }

      @media (max-width: $screen-xs-max) { 
        grid-template-columns: 3fr 6ch 2fr;
        top: calc(var(--border-size) + var(--gap) + 2rem);
      }
    }

    .search{
      --dur: 0.5s;
      position: absolute;
      right: 0;
      top: 0;
      height: 3rem;
      width: 1rem;
      transition: 0.5s width;

      &.open{
        background-color: var(--background);
        width: 100%;
      }

      input {
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 2em;
        height: 2em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::placeholder {
          color: rgb(172, 172, 172);
          opacity: 1; /* Firefox */
        }
        
        &::-ms-input-placeholder { /* Edge 12 -18 */
          color: rgb(172, 172, 172);
        }
        
      }

      input:focus, input:valid {
        border-radius: 0;
        box-shadow: none;
        padding: 0.75em 1em;
        width: calc(100% - 2rem);
        height: 3em;
        margin-left: 2rem;
      }

      input:focus {
        // animation: showCaret var(--dur) steps(1);
        outline: transparent;
      }
      
    }

    .search-icon{
      height: 1rem;
      width: 1rem;

      position: absolute;
      top: 1rem;

      
      &::before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 18%;
          right: 18%;
          
          border: var(--main-color) var(--border-size) solid;
          border-radius: 50%;
          z-index: 10;
      }

      &::after{
          content: "";
          display: block;
          position: absolute;
          
          bottom: 0;
          right: 0;
          height: 50%;
          width: 1px;
          background-color: var(--main-color);

          transform-origin: bottom right;
          transform: rotate(-43deg);
          z-index: 9;
      }
    }

    .list {
      margin: 0;
      padding: 0;
      list-style: none;
    }


    li a {
      padding: 1rem 1rem;
      border-bottom: var(--border-size) solid var(--main-color);
      border-spacing: 0 1rem;
      text-align: left;
    
      display: grid;
      grid-template-columns: 3fr 6ch 2fr 2fr 2fr 12ch;
      grid-gap: 1rem;

      
      // @media (min-width: $screen-sm-min) { }
      // @media (min-width: $screen-md-min) { }

      // c { }

      @media (max-width: $screen-md-max) { 
        grid-template-columns: 3fr 6ch 2fr 2fr 12ch;
      }

      @media (max-width: $screen-sm-max) { 
        grid-template-columns: 3fr 6ch 2fr 2fr;
      }

      @media (max-width: $screen-xs-max) { 
        grid-template-columns: 3fr 6ch 2fr;
      }

    }

    .list a {
      color: var(--main-color);
    }

    .list li:hover a {
      color: var(--background);
      text-decoration: none;
    }

    li:empty {
      border-bottom: none;
    }

    li:hover {
      cursor: pointer;
      background-color: var(--secondary-color);
    }

    /* li:hover a {
      border-bottom: var(--border-size) solid white;
    } */


    
    li:nth-of-type(2n + 2) {
      /* background-color: rgb(211, 204, 250); */
    }
    
    li:first-child {
      // margin-top: var(--gap);
    }
    
    .image {
      width: 300px;
      height: 300px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;

      img{
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    
    li:hover .image {
      display: block !important;

      @media screen and (max-width: 600px) {
        display: none !important;
      }
    }

    .year {
      /* background-color: red; */
      vertical-align: middle;
    }
    
    .title {
      /* background-color: red; */
      vertical-align: middle;
      overflow-x: hidden;
    }
    
    .warnickNumber {
      /* background-color: red; */
      vertical-align: middle;

      @media (max-width: $screen-lg-min) { 
        display: none;
      }
    }

    .dimentions {
      /* background-color: red; */
      vertical-align: middle;

      @media (max-width: $screen-xs-max) { 
        display: none;
      }
    }

    .materials {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // vertical-align: middle;
      // @media only screen and (max-width: 600px) {
      //   display: none;
      // }
    }

    .type {
      /* background-color: red; */
      vertical-align: middle;

      @media (max-width: $screen-sm-max) { 
        display: none;
      }
    }

    .tag__title{
      font-size: 3rem;
      margin: 5rem 3rem 0rem 3rem;
      // border-bottom: var(--border-size) solid var(--main-color);
    }
  }

}

.tag__title{
  font-size: 3rem;
  text-align: center;
  margin: 2rem;

  @media only screen and (max-width: 600px) {
    padding-top: 3rem;
    font-size: 1.5rem;
  }
}

.tmpl-work{
  .content{
    padding-bottom: 6rem;
  }
}

:root[color-mode="dark"] {
  .list a {
    text-decoration: none;
    color: var(--main-color);
  }
}

.grid-view{
  .works{

    .work-sorters{
      display: none;
    }

    .search{
      display: none;
    }


  .list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 350px), 1fr));
    gap: 2rem;
    padding: 0;

    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(min(100px, 250px), 1fr));
    }

    li{
      width: 100%;
      aspect-ratio: 1 / 1;

        a{
          display: flex;
          height: 100%;
          border-bottom: unset;
          position: relative;
        }

        .title,
        .date,
        .year,
        .warnickNumber,
        .dimentions,
        .materials,
        .type{
          display: none;
        }

        .image{
          display: block !important;
          position: unset;
          width: 100%;

          &:empty {
            height: calc(100% - 0.1rem);
            border: var(--border-size) solid var(--main-color);
            width: calc(100% - 0.1rem);
            // margin-top: 1.5rem;
          }
        }

        .image:empty + .title{
          display: block;
          position: absolute;
          padding: 1rem;
        }
    
        .image img {
          display: block;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


  
.sort {
  /* padding: 10px; */
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.sort:hover {
  text-decoration: underline;
}
.sort:focus {
  outline: none;
}
.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--main-color);
  content: "";
  position: relative;
  top: 4px;
  right: -5px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--main-color);
  content: "";
  position: relative;
  top: -4px;
  right: -5px;
}