<div class="audioplayer" data-audio="{% audio 'work/second-work/audio.mp3' %}">
    <div class="play">
      <svg class="icon--pause" aria-hidden="true" focusable="false">
        <use xlink:href="#plyr-pause">
          <symbol id="plyr-pause" viewBox="0 0 18 18">
            <path
              d="M6 1H3c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h3c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1zm6 0c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h3c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1h-3z"
            ></path>
          </symbol>
        </use>
      </svg>
      <svg class="icon--play" aria-hidden="true" focusable="false">
        <use xlink:href="#plyr-play">
          <symbol id="plyr-play" viewBox="0 0 18 18">
            <path
              d="M15.562 8.1L3.87.225c-.818-.562-1.87 0-1.87.9v15.75c0 .9 1.052 1.462 1.87.9L15.563 9.9c.584-.45.584-1.35 0-1.8z"
            ></path>
          </symbol>
        </use>
      </svg>
    </div>

    <div class="wave" id="waveform-1"></div>
    
    <div class="mute">
      <svg class="icon--muted" aria-hidden="true" focusable="false">
        <use xlink:href="#plyr-muted">
          <symbol id="plyr-muted" viewBox="0 0 18 18">
            <path
              d="M12.4 12.5l2.1-2.1 2.1 2.1 1.4-1.4L15.9 9 18 6.9l-1.4-1.4-2.1 2.1-2.1-2.1L11 6.9 13.1 9 11 11.1zM3.786 6.008H.714C.286 6.008 0 6.31 0 6.76v4.512c0 .452.286.752.714.752h3.072l4.071 3.858c.5.3 1.143 0 1.143-.602V2.752c0-.601-.643-.977-1.143-.601L3.786 6.008z"
            ></path>
          </symbol>
        </use>
      </svg>
      <svg class="icon--volume" aria-hidden="true" focusable="false">
        <use xlink:href="#plyr-volume">
          <symbol id="plyr-volume" viewBox="0 0 18 18">
            <path
              d="M15.6 3.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4C15.4 5.9 16 7.4 16 9c0 1.6-.6 3.1-1.8 4.3-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3C17.1 13.2 18 11.2 18 9s-.9-4.2-2.4-5.7z"
            ></path>
            <path
              d="M11.282 5.282a.909.909 0 000 1.316c.735.735.995 1.458.995 2.402 0 .936-.425 1.917-.995 2.487a.909.909 0 000 1.316c.145.145.636.262 1.018.156a.725.725 0 00.298-.156C13.773 11.733 14.13 10.16 14.13 9c0-.17-.002-.34-.011-.51-.053-.992-.319-2.005-1.522-3.208a.909.909 0 00-1.316 0zm-7.496.726H.714C.286 6.008 0 6.31 0 6.76v4.512c0 .452.286.752.714.752h3.072l4.071 3.858c.5.3 1.143 0 1.143-.602V2.752c0-.601-.643-.977-1.143-.601L3.786 6.008z"
            ></path>
          </symbol>
        </use>
      </svg>
    </div>

    <div class="volume">
      <input type="range" value="30" min="0" max="100" />
    </div>
</div>
