html,
body {
    // font-family: "Recursive", sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--base-font-size);
    font-weight: var(--weight);
}





.copy-left {
    // display: inline-block;
    // text-align: right;
    font-weight: 200;
//    -moz-transform: scaleX(-1);
//    -o-transform: scaleX(-1);
//    -webkit-transform: scaleX(-1);
//    transform: scaleX(-1);
//    filter: FlipH;
//    -ms-filter: "FlipH";
}