<!DOCTYPE html>
<html lang="en" color-mode="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include "partials/meta.njk" %}

    <title>{% if title.length %}{{ title }} | {% endif %}Anthony Warnick</title>

    {% include "partials/font.njk" %}    
    
    <link rel="stylesheet" href="{{ '/css/style.css' | url}}">
    <script src="{{ '/js/darkmode.js' | url}}"></script>
</head>
<body class="{% if templateClass %} {{ templateClass }} {% endif %}">
    {% include "partials/header.njk" %}

    <div class="content">
        {{ content | safe }}
    </div>
    
    {% include "partials/footer.njk" %}
    
    <script src="{{ '/js/list.min.js' | url}}"></script>
    <script src="{{ '/js/tachyon.min.js' | url}}"></script>
    <script src="{{ '/js/script.js' | url}}" defer></script>
    <script src="{{ '/js/search.js' | url}}"></script>
</body>
</html>

