---
layout: layouts/base.njk
templateClass: tmpl-exhibition
---

<div class="exhibition 
    {% if dates %} has_dates {% endif %} 
    {% if venue %} has_venue {% endif %}
    {% if curator %} has_curator {% endif %} 
    {% if type %} has_type {% endif %}
    {% if location %} has_location {% endif %}
    {% if participants %} has_participants {% endif %}
    " 
    
    id="exhibition">
    

    <div class="exhibition-title">
        {{ title }}
        <div class="label">Exhibition Title:</div>
    </div>

    {% if venue %}
        <div class="exhibition-venue">
            <div class="label">Exhibition Venue:</div>
            {{ venue }}
        </div>
    {% endif %}

    {% if dates %}
        <div class="exhibition-dates">
            <div class="label">Exhibition Dates:</div>
            {{ dates }}
        </div>
    {% endif %}

    {% if curator %}
        <div class="exhibition-curator">
            <div class="label">Curator:</div>
            {{ curator }}
        </div>
    {% endif %}

    {% if type %}
        <div class="exhibition-type">
            <div class="label">Exhibition Type:</div>
            {{ type }}
        </div>
    {% endif %}

    {% if location %}
        <div class="exhibition-location">
            <div class="label">Exhibition Location:</div>
            {{ location }}
        </div>
    {% endif %}


    {% if participants %}
        <div class="exhibition-participants">
            <div class="label">Exhibition Participants:</div>
            <div class="participants-list">
                {% for participant in participants %}
                    {% if participant.link %}
                        <a href="{{ participant.link }}">{{ participant.name }}</a> 
                    {% else %}
                        <span>{{ participant.name }}</span>
                    {% endif %}
                {% endfor %} 
            </div>
            
        </div>
    {% endif %}

    {% if installation_images %}
        <div class="installation-images">
            <div class="label">Installation Images:</div>
            <div id="work">
                {% for image in installation_images %}
                    {% if './' in image  %}
                        {% supportImage image %}
                    {% else %}
                        {% set fullURL = "./src" + page.url + image %}
                        {% supportImage fullURL %}
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
    {% endif %}
    
    <div class="exhibition-content">
        {{ content | safe }}
    </div>

    <div class="exhibition-works">
        <div class="label">Exhibition Works:</div>
        <ul class="exhibition-works-list">
            {% for post in collections.msu %}
                <li>
                    <a href="{{ post.url | url }}">
                        <div class="title">{{ post.data.title }}</div>
                        <div class="year">{{ post.data.year }}</div>
                        <div class="warnickNumber" data-id="1">{{ post.data.warnickNumber }}</div>
                        <div class="dimentions" data-dimention="{{ post.data.dimensions_sort }}">{{ post.data.dimensions }}</div>
                        <div class="materials">
                        {% for material in post.data.materials %}
                            {{material}}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </div>
                        <div class="type">{{ post.data.type | title }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>