---
layout: layouts/base.njk
templateClass: tmpl-work
---

<div class="work" id="work">
   
    

    <div class="title">
        <div class="label">Title:</div>
        {{ title }}
    </div>
    <div class="archive_number">
        <div class="label">Catalog Number:</div>
        {{ warnickNumber }}
    </div>

    

    {% if featured_video %}

         <div class="hero_video">
            {% set videolink = featured_video %}
            {% include "components/bunny.njk" %}
            <a class="lightbox" data-pswp-type="bunny-video" data-bunny-url="{{ videolink }}?autoplay=false" href="#" target="_blank"></a>
        </div>

    {% elif featured_audio %}

        <div class="hero_audio">
            {% if './' in featured_audio  %}
                {% set audiolink = featured_audio | replace("./", "/src/")  %}
                {# {% include "components/audioplayer.njk" %} #}
            {% else %}
                {% set audiolink = page.url + featured_audio | string %}
                {# {{ audiolink }} #}
                {% include "components/audioplayer.njk" %}
            {% endif %}
        </div>

    {% elif featured_image %}

        <div class="hero_image">
            {% if './' in featured_image  %}
                {% featuredImage featured_image %}
            {% else %}
                {% set fullURL = page.url + featured_image %}
                {% featuredImage fullURL %}
            {% endif %}
        </div>

    {% endif %} 

    
  
   
    <div class="meta 
        {% if materials %} has_materials {% endif %} 
        {% if dimensions %} has_dimensions {% endif %}
        {% if edition %} has_edition {% endif %} 
        {% if year %} has_year {% endif %} 
        {% if type %} has_type {% endif %} 
        {% if collaborators %} has_collaborators {% endif %} 
        {% if exhibitions %} has_exhibitions {% endif %} 
    ">

        {% if materials %}
            <div class="materials">
                <div class="label">Materials:</div>
                {% for material in materials %}
                    {% set materialUrl %}/materials/{{  material | materialslug }}/{% endset %}
                    <a href="{{ materialUrl | url }}" class="material">{{ material }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        

        {% if dimensions %}
            <div class="dimensions">
                <div class="label">Dimensions:</div>
                {{ dimensions }}
            </div>
        {% endif %}

        {% if type %}
            <div class="type">
                <div class="label">Type:</div>
                {% set typelUrl %}/type/{{ type | url }}/{% endset %}
                <a href="{{ typelUrl | url }}">{{ type | capitalize  }}</a> 
            </div>
        {% endif %}

        {% if edition %}
            <div class="edition">
                <div class="label">Edition:</div>
                {% if edition.limitless %}Limitless Edition{% endif %}
                {% if edition.number %}Edition of {{ edition.number }}{% endif %}
            </div>
        {% endif %}

        {% if collaborators %}
            <div class="collaborators">
                <div class="label">Collaborators:</div>
                {% for collaborator in collaborators %}
                    <a href="{{ collaborator.link }}">{{ collaborator.name }}</a> 
                {% endfor %} 
            </div>
        {% endif %}


        {% if year %}
            <div class="date">
                <div class="label">Year:</div>
                {% set yearlUrl %}/year/{{ year | url }}/{% endset %}
                <a href="{{ yearlUrl | url }}">{{ year }}</a> 
            </div>
        {% endif %} 
        
    </div>


    <div class="discription">
        {% if description.long %}
            <div class="label">Discription:</div>
            {{ description.long }}
        {% endif %}
    </div>

    {% if exhibitions %}
        <div class="exhibitions">
            <div class="label">Exhibitions:</div>
            {% for exhibition in exhibitions %}
                <a href="/exhibition/{{ exhibition.base }}">{{ exhibition.title }} - {{ exhibition.venue }}</a> 
            {% endfor %} 
        </div>
    {% endif %}

    <div class="images">
        {% if support_images or audio or video %}

            <div class="label">Images:</div>
            <div class="support_images" id="support_images">

                {% for track in audio %}
                    {% set audiolink = track %}
                    {% include "components/audioplayer.njk" %}
                {% endfor %} 

                {% for bunny in video %}
                    {% include "components/bunny-lightbox.njk" %}
                {% endfor %}  

                {% for image in support_images %}
                    <div class="support_image">
                        {% if image %}
                            {% set myURL = image | string %}
                            {% if './' in myURL %}
                                {% supportImage image %}
                                <!-- {% image image, description.short, "(min-width: 30em) 50vw, 100vw"  %} -->
                            {% else %}
                                {% set canonical = "./src" + page.url + image %}
                                {% image canonical, description.short, "(min-width: 30em) 50vw, 100vw"  %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %} 
            </div>

        {% endif %}
    </div>

    <div class="links">
        {% if links or assets %}
            <div class="label">Links:</div>
            <ul>
                {% for link in links %}
                    <li>
                        <a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a>
                    </li>
                {% endfor %}
            </ul>

            {% if assets %} 
                <br/>
                <div class="label">Assets:</div>
                <ul>
                    {% for assets in assets %} 
                        <li>
                            <a class="{{ assets.type }}" href="{{ assets.link }}">{{ assets.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
    
</div>


{% if content %} 
    <div class="main">
        <div class="label">Content:</div>
        {{ content | safe }}
    </div>
{% endif %}


