---
layout: layouts/base.njk
templateClass: grid-view
eleventyNavigation:
  key: Exhibitions
---

<h1>Exhibtions:</h1>

<div class="exhibition-list">
    <div class="exhibition-list-item header-row">
        <div class="exhibition-list-image">
        </div>
        <div class="exhibition-list-title">Title</div>
        <div class="exhibition-list-venue">Venue</div>
        <div class="exhibition-list-type">Date</div>
        <div class="exhibition-list-location">Location</div>
        <div class="exhibition-list-date">Dates</div>
    </div>
    {% for exhibition in collections.exhibition %}
        <a class="exhibition-list-item" href="{{ exhibition.url | url  }}">
            <div class="exhibition-list-image">
                {% if exhibition.data.featured_image %}
                    {% if './' in exhibition.data.featured_image | string %}
                        {{ exhibition.data.featured_image | string  }}
                    {% else %}
                        {% set fullURL = exhibition.url + exhibition.data.featured_image | string %}
                        {% exhibitionImage fullURL | string %}
                    {% endif %}
                {% endif %}
            </div>

            <div class="exhibition-list-title">{{ exhibition.data.title }}</div>
            <div class="exhibition-list-venue">{{ exhibition.data.venue }}</div>
            <div class="exhibition-list-type">{{ exhibition.data.type }}</div>
            <div class="exhibition-list-location">{{ exhibition.data.location }}</div>
            <div class="exhibition-list-date">{{ exhibition.data.dates }}</div>
        </a>
    {% endfor %} 
</div>