
:root {
  
  --border-size: 1px;
  --padding: 3rem;
  --gap: 2rem;
  --base-font-size: 13px;

  /* Start with axis defaults. Exclude weight, which is better controlled via the usual font-weight CSS property */
  --MONO: 0.7; /* Monospace    */
  --CASL: 0; /* Casual       */
  --slnt: 0; /* Upright      */
  --CRSV: 0.5; /* Auto Cursive */
  --weight: 400; /* Weight      */
}

:root[color-mode="light"] {
  --background: rgb(255, 255, 255);
  --main-color: rgb(0, 0, 0);
  --gray: rgb(164, 164, 164);
  --secondary-color: rgb(0, 0, 255);
}

:root[color-mode="dark"] {
  --background: rgb(0, 0, 0);
  --main-color: rgb(255, 255, 255);
  --gray: rgb(164, 164, 164);
  --secondary-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 850px) {
  :root {
    --gap: 1rem;
    --padding: 1rem;
  }
}

.darkmode {
  --background: black;
  --main-color: white;
  --secondary-color: rgb(255, 255, 255);
}
  