/* footer */

.footer {
    --footerHeight: 16px;
    // --footerHeight: 1.2rem;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // top:0;

    // height: auto;
    // display: block;
    
    // left:var(--padding);
    // right: var(--padding);
    // width: calc(100vw - (var(--padding) * 2));
    // margin: auto;

    // background-color: var(--background);
    // display: grid;
    // grid-template-columns: 1fr auto;
    // transition: all 1s;

    .triggers{    
        padding: 16px var(--padding);
        display: flex;
        gap: var(--gap);
        z-index: 2;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: var(--background);
    }

    .filters{
        position: fixed;
        bottom: -100%;

        background-color: var(--background);
        // border-top: var(--border-size) solid var(--main-color);
        
        grid-template-columns: 1fr 2fr 4fr;
        gap: 1rem;
        grid-column: span 3; 
        display: grid;
        z-index: 11;
       
        text-align: left;
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: var(--padding);
        padding-right: var(--padding);

        transition: all .5s;

        max-height: calc(100vh - (40px * 2));
        overflow-y: scroll;
    
        
        @media only screen and (max-width: 850px) {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
    
            div:nth-of-type(3){
                grid-column: span 2;
            }
        }
    
        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
    
            div:nth-of-type(3){
                grid-column: span 2;
            }
        }
    }
}

.filteropen .footer{
    .filters{
        bottom: calc( var(--padding) );

        @media only screen and (max-width: 850px) {
            bottom: calc( var(--padding) * 3);
        }
        @media only screen and (max-width: 600px) {
            bottom: calc( var(--padding) * 3);
        }
    }
}

  
.mode-toggle {
    height: var(--footerHeight);
    width: var(--footerHeight);
    border: var(--border-size) solid var(--main-color);
    cursor: pointer;
}
  
.mode-toggle::after {
    content: " ";
    display: block;
    background-color: var(--main-color);
    height: 100%;
    width: 50%;
}

.grid-trigger{
    display: none;
}

.list-view .grid-trigger{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .2rem;
    height: var(--footerHeight);
    width: var(--footerHeight);
    cursor: pointer;
   
    div{
        border: var(--border-size) solid var(--main-color);
    }
}

.grid-view .grid-trigger{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .1rem;
    height: var(--footerHeight);
    width: var(--footerHeight);
    cursor: pointer;

    div{
        border: var(--border-size) solid var(--main-color);
    }

    div:first-of-type{
        display: none;
    }
}

.lightbox-trigger{
    display: none;
    height: calc(var(--footerHeight) - 2px);
    aspect-ratio: 1/1;
    border: var(--border-size) solid var(--main-color);
    position: relative;
    margin-top: 1px;
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;

    &::after{
        position: absolute;
        content: "";
        display: block;
        border-left: var(--border-size) solid var(--main-color);
        border-top: var(--border-size) solid var(--main-color);
        transform: translate(-9px, -3px) rotate(-45deg);
        width: 7px;
        height: 7px;
        top: 50%;
        left: 0px;
    }

    &::before{
        position: absolute;
        content: "";
        display: block;
        border-right: var(--border-size) solid var(--main-color);
        border-bottom: var(--border-size) solid var(--main-color);
        transform: translate(9px, -3px) rotate(-45deg) ;
        width: 7px;
        height: 7px;
        top: 50%;
        right: 0px;
    }
}

.filter-icon{
    height: var(--footerHeight);
    width: var(--footerHeight);

    cursor: pointer;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    // border: 1px solid red;
    padding: var(--border-size) 0;
    transform: rotate(0deg);
    transition: transform .5s;

    
    div{
        width: 100%;
        border-top: var(--border-size) solid var(--main-color);
        position: relative;
        // margin: 3px 0;

        &::after{
            content: '';
            display:block;
            position: absolute;
            top: calc(var(--border-size) * -2.5);
            height: calc(var(--footerHeight)/4);
            width: calc(var(--footerHeight)/4);
            background-color: var(--main-color);
            right: 20%;
        }

        &:nth-of-type(1)::after{
            left: calc(50% - var(--dot-size));
        }

        &:nth-of-type(2)::after{
            left: 20%
        }
    }
}

.filteropen .filter-icon{
    transform: rotate(90deg);
}



.trigger-gap{
    flex-grow: 1;

    @media only screen and (max-width: 600px) {
        opacity: 0;
    }
}
.grid-view .lightbox-trigger,
.list-view .lightbox-trigger{
    display: block;
}
  
.footer.fixed {
}

.search-icon{
    cursor: pointer;
}
