.site-header {
    width: calc(100vw - (var(--padding) * 2));
    position: fixed;
    top: 0;
    left: var(--padding);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--gap);
    border-bottom: var(--border-size) solid var(--main-color);
    background-color: var(--background);
    
    padding: 1rem 0 1rem 0;
    line-height: 1.1rem;
    margin: 0;
    z-index: 100;
  
    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr auto;
        border-bottom: unset;
    }
}

.menuopen .site-header{
    background-color: var(--background);
}
    
.site-title {
    margin: 0;
    padding: 0;
}
  
.main-nav {
    margin: 0;
    padding: 0;
    align-self: end;
    background-color: transparent;
    transition: all 0.5s;
  
    @media only screen and (max-width: 600px) {
        height: 0px;
        overflow: hidden;

        position: absolute;
        top: calc(3rem);
        
        width: 100%;
        background-color: var(--background);
        border-bottom: var(--border-size) solid var(--main-color);
        transition: all 0.5s;
    }
}
  
.menuopen .main-nav{
    @media only screen and (max-width: 600px) {
        height: calc(100vh - 7rem);
        background-color: var(--background);
    }
}
    
.main-nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  
    @media only screen and (max-width: 600px) {
        float: unset;
        flex-direction: column;
    }
}
    
.main-nav li {
    --line-angle: 12deg;

    position: relative;
    padding-right: calc(0.7rem + var(--border-size));
    margin-right: 0.7rem;
  
    @media only screen and (max-width: 600px) {
        display: block;
        text-align: left;
        padding: 1rem 0;
    }
}
    
.main-nav li:last-of-type {
    padding-right: 0;

    @media only screen and (max-width: 600px) {
        padding-right: 1rem;
    }
}

.main-nav li a{
    @media only screen and (max-width: 600px) {
        font-size: 2rem;
        text-decoration: none;
    }
}
    
.main-nav li:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 1.4rem;
    // padding: 0px 2.5px 0px 2.5px;
    // background: linear-gradient(to top left, transparent calc(50% - var(--border-size)), var(--main-color) , transparent calc(50% + var(--border-size)) );
    margin-left: 1rem;
    border-right: var(--border-size) solid var(--main-color);
    transform: rotate(var(--line-angle));

    @media only screen and (max-width: 600px) {
        display: none;
    }
}
    
.main-nav li:last-of-type:after {
    content: none;
    padding-left: 0;
}
 
  
#hamburger {
    display: none;
  
    width: 1.5rem;
    height: 1.1rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  
    @media only screen and (max-width: 600px) {
        display: block;
    }
}
  
#hamburger span {
    display: block;
    position: absolute;
    height: var(--border-size);
    width: 150%;
    background: var(--main-color);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  
#hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
#hamburger span:nth-child(2) {
    top: calc(50% - (var(--border-size) / 2) );
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
#hamburger span:nth-child(3) {
    bottom: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
#hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
  
#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}