
$screen-sm-min: 600px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 850px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 950px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xl-min: 1px;

.exhibition{
    font-size: 1.4rem;
    display: grid;

    padding-top: 35vh;
    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto 1fr;
    // grid-template-areas: "title title title materials dimensions year number number"
    // "hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image"
    // "discription support_images"
    // "link support_images";
    gap: var(--gap);
    grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v v v v v v v"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";

    &.has_dates.has_venue.has_curator.has_type.has_location.has_participants{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v v v l l l l"
            "d d d p p p p p p p p p"
            "c c c c c b b b b b b b"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

    &.has_dates.has_venue.has_curator.has_type.has_location{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v d d d d d d"
            "c c c c c c b b b l l l"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

    &.has_dates.has_venue.has_type.has_location{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v d d d d d d"
            "b b b b b b l l l l l l"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

    &.has_dates.has_venue.has_type.has_location{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v d d d d d d"
            "b b b b b b l l l l l l"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

    &.has_dates.has_venue.has_location{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v v v v v v v"
            "d d d d d d l l l l l l"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

    &.has_dates.has_venue.has_type{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v v v v v v v"
            "d d d d d d b b b b b b"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

    &.has_dates.has_venue{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v d d d d d d"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

    &.has_type{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v v v b b b b"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

    &.has_location.has_venue{
      grid-template-areas: 
            "t t t t t t t t t t t t"
            "v v v v v v v l l l l l"
            "i i i i i i i i i i i i"
            "s s s s s s s s s s s s"
            "h h h h h h h h h h h h";
    } 

           

    .exhibition-title{
        grid-area: t;
        font-size: 6rem;

        .label{
          padding-top: 0.5rem;
          padding-bottom: unset;
          border-top: var(--border-size) solid var(--main-color);
          border-bottom: unset;
          margin-bottom: 3rem;
          margin-top: 0.5rem;
        }
    }        

    .exhibition-venue{
        grid-area: v;
    }

    .exhibition-dates{
        grid-area: d;
    }

    .exhibition-location{
        grid-area: l;
    }

    .exhibition-curator{
        grid-area: c;
    }

    .exhibition-participants{
        grid-area: p;

        .participants-list{
            > a{
                &::after {
                    display: inline-block;
                    content: ', '; 
                    color: var(--main-color);
                }
    
                &:last-child {
                    &::before {
                        display: inline-block;
                        content: 'and '; 
                        padding-right: 1ch;
                        color:  var(--main-color);
                    }
    
                    &::after {
                        content: ''; 
                    }
                }
    
                &:only-child{
                    &::before {
                        content: ''; 
                    }
    
                    &::after {
                        content: ''; 
                    }
                }
            }
    
            > span{
                &::after {
                    display: inline-block;
                    content: ', '; 
                    color:  var(--main-color);
                }
    
                &:last-child {
                    &::before {
                        display: inline-block;
                        content: 'and '; 
                        padding-right: 1ch;
                        color:  var(--main-color);
                    }
    
                    &::after {
                        content: ''; 
                    }
                }
    
                &:only-child{
                    &::before {
                        content: ''; 
                    }
    
                    &::after {
                        content: ''; 
                    }
                }
            }
        }
    }

    .exhibition-type{
        grid-area: b;
        text-transform: capitalize;
    }

    .exhibition-content{
        grid-area: s;
    }

    .installation-images{
        grid-area: i;
        margin-top: 3rem;

        .label{
          font-size: 1.4rem;
        }

        > div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: var(--gap);
            padding-top: var(--gap);
        }
        
        a.lightbox{
            width: 100%;
            display: block;
            aspect-ratio: 1/1;
            // background-color: aqua;

            picture{
                // display: none;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
                
            }
        }
    }


    .label {
        --weight: 400;
        font-weight: var(--weight);
        font-size: 1rem; 
        text-transform: capitalize;
        // line-height: 1.2em; 
        // min-height: var(--gap);
      
        /* font-variant: small-caps; */
        padding-bottom: 0.5rem; 
        border-bottom: var(--border-size) solid var(--main-color);
        margin-bottom: 0.5rem;
      
        @media only screen and (max-width: 600px) {
          font-size: .75rem;
          padding-bottom: 5px;
        }
    }
}

.exhibition-works{
    /* border: none; */
    width: 100%;
    // min-height: calc(100vh - 16rem);
    /* padding: 3rem; */
    position: relative;
    grid-area: h;

    margin-top: 4rem;
    /* font-size: 1.3rem; */
    /* font-weight: bold; */
    font-weight: normal;

    .label{
      font-size: 1.4rem;
    }
    

    .work-sorters {
      position: -webkit-sticky;
      position: sticky;
      top: calc(var(--border-size) + var(--gap) + 1.1rem);
      background-color: var(--background);
      line-height: 1.1rem;
      display: grid;
      border-bottom: var(--border-size) solid var(--main-color);
      grid-template-columns: 3fr 6ch 2fr 2fr 2fr 12ch;
      grid-gap: 1rem;
      padding: 1rem 1rem;

      
      @media (max-width: $screen-md-max) { 
        grid-template-columns: 3fr 6ch 2fr 2fr 12ch;
      }

      @media (max-width: $screen-sm-max) { 
        grid-template-columns: 3fr 6ch 2fr 2fr;
        top: calc(var(--border-size) + var(--gap) + 2rem);
      }

      @media (max-width: $screen-xs-max) { 
        grid-template-columns: 3fr 6ch 2fr;
        top: calc(var(--border-size) + var(--gap) + 2rem);
      }
    }

    .search{
      --dur: 0.5s;
      position: absolute;
      right: 0;
      top: 0;
      height: 3rem;
      width: 1rem;
      transition: 0.5s width;

      &.open{
        background-color: var(--background);
        width: 100%;
      }

      input {
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 2em;
        height: 2em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::placeholder {
          color: rgb(172, 172, 172);
          opacity: 1; /* Firefox */
        }
        
        &::-ms-input-placeholder { /* Edge 12 -18 */
          color: rgb(172, 172, 172);
        }
        
      }

      input:focus, input:valid {
        border-radius: 0;
        box-shadow: none;
        padding: 0.75em 1em;
        width: calc(100% - 2rem);
        height: 3em;
        margin-left: 2rem;
      }

      input:focus {
        // animation: showCaret var(--dur) steps(1);
        outline: transparent;
      }
      
    }

    .search-icon{
      height: 1rem;
      width: 1rem;

      position: absolute;
      top: 1rem;

      
      &::before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 18%;
          right: 18%;
          
          border: var(--main-color) var(--border-size) solid;
          border-radius: 50%;
          z-index: 10;
      }

      &::after{
          content: "";
          display: block;
          position: absolute;
          
          bottom: 0;
          right: 0;
          height: 50%;
          width: 1px;
          background-color: var(--main-color);

          transform-origin: bottom right;
          transform: rotate(-43deg);
          z-index: 9;
      }
    }

    .list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .exhibition-works-list{
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li a {
      padding: 1rem 1rem 1rem 0;
      border-bottom: var(--border-size) solid var(--main-color);
      border-spacing: 0 1rem;
      text-align: left;
      font-size: 1rem;
    
      display: grid;
      grid-template-columns: 3fr 6ch 2fr 2fr 2fr 12ch;
      grid-gap: 1rem;
      color: var(--main-color);
      
      // @media (min-width: $screen-sm-min) { }
      // @media (min-width: $screen-md-min) { }

      &:hover{
        color: var(--background);
      }

      @media (max-width: $screen-md-max) { 
        grid-template-columns: 3fr 6ch 2fr 2fr 12ch;
      }

      @media (max-width: $screen-sm-max) { 
        grid-template-columns: 3fr 6ch 2fr 2fr;
      }

      @media (max-width: $screen-xs-max) { 
        grid-template-columns: 3fr 6ch 2fr;
      }

    }

    li:empty {
      border-bottom: none;
    }

    li:hover {
      cursor: pointer;
      background-color: var(--secondary-color);
    }

    /* li:hover a {
      border-bottom: var(--border-size) solid white;
    } */


    
    li:nth-of-type(2n + 2) {
      /* background-color: rgb(211, 204, 250); */
    }
    
    li:first-child {
      // margin-top: var(--gap);
    }
    
    .image {
      width: 300px;
      height: 300px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;

      display: none;

      img{
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    
    li:hover .image {
      display: block !important;

      @media screen and (max-width: 600px) {
        display: none !important;
      }
    }

    .year {
      /* background-color: red; */
      vertical-align: middle;
    }
    
    .title {
      /* background-color: red; */
      vertical-align: middle;
      overflow-x: hidden;
    }
    
    .warnickNumber {
      /* background-color: red; */
      vertical-align: middle;

      @media (max-width: $screen-lg-min) { 
        display: none;
      }
    }

    .dimentions {
      /* background-color: red; */
      vertical-align: middle;

      @media (max-width: $screen-xs-max) { 
        display: none;
      }
    }

    .materials {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // vertical-align: middle;
      // @media only screen and (max-width: 600px) {
      //   display: none;
      // }
    }

    .type {
      /* background-color: red; */
      vertical-align: middle;

      @media (max-width: $screen-sm-max) { 
        display: none;
      }
    }

    .tag__title{
      font-size: 3rem;
      margin: 5rem 3rem 0rem 3rem;
      // border-bottom: var(--border-size) solid var(--main-color);
    }
}



.exhibition-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--gap);
  padding-top: var(--gap);

  @media (max-width: 3000px) { 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 2000px) { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 1000px) { 
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 600px) { 
    grid-template-columns: 1fr 1fr;
  }

  .exhibition-list-item{
    a{
      display: block;
      max-width: 100%;

      &:empty{
        display: none;
      }

      img{
        height: auto;
      }
    }
  }

  .exhibition-list-image{
    padding: 0 0 1em 0;

    picture{

      img{
        object-fit: cover;
        height: 100%;
        aspect-ratio: 1/1;
        display: block;
      }
    }
  }

  .exhibition-list-venue{
    display: none;
  }

  .exhibition-list-type{
    display: none;
  }

  .exhibition-list-date{
    display: none;
  }

  .exhibition-list-title{ 
    
  }
 
  .exhibition-list-location{ 
    display: none;
  }

  .exhibition-list-date{ 
    display: none;
  }
}

.header-row{
  display: none;
}

.list-view{

  .exhibition-list{
    grid-template-columns: 1fr;
    gap: 0;
  }

  .exhibition-list-item{
    display: grid;
    width: 100%;
    grid-template-columns: 0px 2fr 3fr 1fr 1fr 2fr;
    border-bottom: var(--border-size) solid var(--main-color);

    &.header-row{
      display: grid;
    }

    &:hover{
      position: relative;
      z-index: 100;
      
      .exhibition-list-image{
        picture{
          display: block;
        }
      }

      .exhibition-list-venue, .exhibition-list-type, .exhibition-list-date, .exhibition-list-title, .exhibition-list-location, .exhibition-list-date{ 
        background-color: var(--background);
        display: block;
        position: relative;
        z-index: 50;
      }

      .exhibition-list-venue{
        
      }
    
      .exhibition-list-type{
        
      }

      .exhibition-list-date{
        
      }
    
      .exhibition-list-title{ 
        
      }
     
      .exhibition-list-location{ 
        
      }
    
      .exhibition-list-date{ 
        
      }
    }

    p{
      padding: 1em 0;

      &:last-child{
        text-align: right;
      }
    }
  }

  a{
    text-decoration: none;
  }

  a:empty {
    display: none;
  }
  
  a.lightbox{
    display: none;
  }

  .exhibition-list-image{

    picture{
      position: absolute;
      top: -20vw;
      left: 0;
      right: 0;
      height: 50vw;
      display: none;
      z-index: 40;

      pointer-events: none; 

      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .exhibition-list-venue, .exhibition-list-type, .exhibition-list-date, .exhibition-list-title, .exhibition-list-location, .exhibition-list-date{ 
    display: block;
    padding: 1em 1em 1em 0;
  }

  .exhibition-list-venue{

  }

  .exhibition-list-type{

  }

  .exhibition-list-date{

  }

  .exhibition-list-title{ 

  }
 
  .exhibition-list-location{ 

  }

  .exhibition-list-date{ 

  }
}

:root[color-mode="dark"] .exhibition-list-item a {
  text-decoration: none;
}

.tmpl-exhibition{
  .lightbox-trigger{
    display: block;
  }
}