.news {
  padding: var(--padding) 0 0 0;
  /* min-height: calc(100vh - 6rem); */

  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: calc(var(--gap) * 2);
  
  @media screen and (min-width: 750px) and (max-width: 1150px) {
      grid-template-columns: 6fr 6fr;
  }
  
  @media screen and (max-width: 750px) {
      grid-template-columns: 1fr;
      gap: calc(var(--gap) * 3);
  }
}  
  .news .news__item {
    min-height: 15rem;
    /* padding-top: var(--gap);
    border-top: var(--border-size) solid black; */
  }
  
  @media screen and (max-width: 800px) {
    .news .news__item {
      min-height: unset;
    }
  }
  
  .news .news__item:nth-child(2) {
    padding-top: 0;
    border-top: unset;
  }
  
  .news .news__item:nth-child(3) {
    padding-top: 0;
    border-top: unset;
  }
  
  .news .news__item:nth-child(4) {
    border-top: unset;
  }
  
  .news .news_intro {
  }
  
  .news .news_intro p {
    margin: 0;
  }
  
  .news .news__title {
    margin: 0;
  }
  
  .news .news__title a{
    color: var(--main-color);
  }
  
  .news .news__subtitle {
    margin: 0;
  }
  
  .news .news__author {
    color: var(--main-color);
    display: block;
    font-size: 1.5rem;
    margin: .5rem 0;
  }
  
  .news .news__date {
    display: block;
    font-size: 1rem;
    margin: 0 0 .5rem 0;
    font-weight: 300;
  }
  
  .news .news__tags {
    margin: 0;
  }
  
  /*           */
  /* News Post */
  /*           */
  
  .news__post {
    padding: var(--padding) 0 0 0;
    min-height: calc(100vh - 6rem);
  
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: var(--gap);
  
    position: relative;
  }
  
  @media screen and (min-width: 1500px) {
    .news__post {
      gap: calc(var(--gap) * 3);
    }
  }
  
  @media screen and (min-width: 750px) and (max-width: 1150px) {
    .news__post {
      grid-template-columns: 5fr 7fr;
    }
  }

@media screen and (max-width: 750px) {
  .news__post_intro{
      border-bottom: var(--border-size) solid var(--main-color);
      margin-bottom: calc(var(--padding)* 3);
  }
}
  
  @media screen and (max-width: 750px) {
    .news__post {
      grid-template-columns: 1fr;
    }
  }
  
  .news__post .news__post_intro > div {
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--padding) + var(--gap));
    left: 0;
  }
  
  .news__post_intro .news__date {
    display: block;
  }
  
  .news__post_intro .news__author,
  .news__post_intro .news__date {
    font-size: 20px;
  }
  
  .news__post_intro a {
    color: var(--main-color);
    text-decoration: none;
  }
  
  .news__post_intro a:hover {
    text-decoration: underline;
  }
  
  .news__post_intro .news__title {
    font-size: 3rem;
    margin: 0 0 1rem 0;
  }
  
  @media screen and (min-width: 750px) and (max-width: 1150px) {
    .news__post_intro .news__title {
      font-size: 2rem;
      margin: 0 0 1rem 0;
    }
  }
  
  @media screen and (max-width: 750px) {
    .news__post_intro .news__title {
      font-size: 2rem;
      margin: 0 0 1rem 0;
    }
  }
  
  .news__post_intro .news__subtitle {
    font-size: 2rem;
    margin: 0;
  }
  
  .news__post_intro .news__subtitle:not(:empty) {
    margin: 0 0 1rem 0;
  }
  
  .news__post .news__post_item {
    font-size: 20px;
  }
  
  .news__post_item * {
    scroll-margin-top: calc(var(--padding) + var(--gap));
  }
  
  .news__post_item > *:first-child {
    scroll-margin-top: calc(var(--padding) + var(--gap));
    margin-top: 7px;
  }
  
  .news__post_item a {
  }
  
  .news__post_item a:hover {
  }
  
  .news__post_item img {
    margin-block-end: 16px;
    margin-block-start: 16px;
  }
  
  .news__post_item p img {
    margin-block-end: 16px;
    margin-block-start: 16px;
  }
  
  .news__post_item figcaption {
  }
  
  .news__post_item h1 {

    margin-block-start: 1.8em;
  }
  
  .news__post_item h2 {
    margin-block-start: 1.8em;
  }
  
  .news__post_item h3 {
    margin-block-start: 1.8em;
  }
  
  .news__post_item h4 {
    margin-block-start: 1.8em;
  }
  
  .news__post_item h5 {
    font-size: 0.9em;
    margin-block-end: 0.9em;
    margin-block-start: 1.8em;
    font-weight: 500;
  }
  
  .news__post_item h6 {
    font-size: 0.9em;
    margin-block-end: 0.9em;
    margin-block-start: 1.8em;
    font-weight: 500;
  }
  
  .news__post_item hr {
    border: none;
    border-bottom: var(--border-size) solid var(--main-color);
  }
  
  .news__post_item p {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  
  .news__post_item blockquote {
  }
  
  .news__post_item cite {
  }
  
  .news__post_item ul {
    padding-inline-start: 15px;
    list-style: none;
    list-style-position: outside;
    /* padding: 0;
    margin: 0; */
  }
  
  .news__post_item ul li {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .news__post_item ul li:before {
    /* content: "-"; */
    content: "—";
    margin-right: 5px;
    margin-left: -17px;
  }
  
  .news__post_item ol {
    padding-inline-start: 35px;
  }
  
  .news__post_item ol li {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .news__post_item ol li > * {
    margin: 0;
  }
  
  .news__post_item table {
    width: 100%;
    /* border-spacing: var(--gap) var(--padding); */
    /* border-spacing: var(--gap); */
    border-spacing: 0;
  }
  
  .news__post_item th,
  .news__post_item td {
    border-bottom: var(--border-size) solid var(--main-color);
    border-right: var(--border-size) solid var(--main-color);
    min-width: 150px;
    padding: 1rem;
  }
  
  .news__post_item th:last-child,
  .news__post_item td:last-child {
    border-right: unset;
  }
  
.news__post_item code {
  --MONO: 1;
  --weight: 400;

  background-color: hsl(0, 0%, 95%);
  display: inline-block;
  padding: 0.4em;
  font-size: 0.8em;
  font-weight: var(--weight);
}

:root[color-mode="dark"] .news__post_item code {
  background-color: hsla(0, 0%, 95%, 0.25);
}
  
.news__post_item pre code {
  width: 100%;
  padding: 0.8em;
}
  