/* work page */

.work {
  min-height: calc(100vh - (var(--padding) * 4));

  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto 1fr;
  // grid-template-areas: "title title title materials dimensions year number number"
  // "hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image hero_image"
  // "discription support_images"
  // "link support_images";
  grid-template-areas: 
          "t t t t t t t t t n n n"
          "h h h h h h h h h h h h"
          "m m m m m m m m m m m m"
          "b b b b b b s s s s s s"
          "l l l l l l s s s s s s"
          "e e e e e e s s s s s s";

  @media only screen and (max-width: 850px) {
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas: 
          "t t t t t t t t n n n n"
          "h h h h h h h h h h h h"
          "m m m m m m m m m m m m"
          "b b b b b b l l l l l l"
          "s s s s s s s s s s s s";
  }   
  
  @media only screen and (max-width: 600px) {
    --gap: 1rem;
    --border-size: 1px;

    grid-template-rows: auto auto auto auto auto 1fr;
    grid-template-areas: 
          "h h h h h h h h h h h h"
          "t t t t t t t t t t t t"
          "m m m m m m m m m m m m"
          "b b b b b b b b b b b b"
          "l l l l l l l l l l l l"

          "s s s s s s s s s s s s";
  }  
  
  // padding: var(--padding) 0 0 0;
  gap: var(--gap);
}

.work > div {
  /* border: 1px solid red; */
}

.work .label {
  --weight: 400;
  font-weight: var(--weight);
  font-size: 1rem; 
  // line-height: 1.2em; 
  // min-height: var(--gap);

  /* font-variant: small-caps; */
  padding-bottom: 0.5rem; 
  border-bottom: var(--border-size) solid var(--main-color);
  margin-bottom: 0.5rem;

  @media only screen and (max-width: 600px) {
    font-size: .75rem;
    padding-bottom: 5px;
  }
}

.work .title {
  grid-area: t;
}

.work .archive_number {
  grid-area: n;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.work .meta {
  grid-area: m;
  // display: flex;
  gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @media only screen and (max-width: 850px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.work .meta{
  
  div {
    grid-column: span 2; 

    @media only screen and (max-width: 850px) {
      grid-column: span 1; 
    }
  }

  &.has_materials.has_dimensions.has_edition.has_year.has_type.has_collaborators{
      // has all
  }

  // 
  // 
  // Has 3
  // 
  // 

  &.has_dimensions.has_edition.has_year.has_type.has_collaborators{
    .dimensions {
      grid-column: span 4; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
  }

  &.has_dimensions.has_year.has_type.has_collaborators,
  &.has_dimensions.has_edition.has_type.has_collaborators,
  &.has_dimensions.has_edition.has_year.has_collaborators,
  &.has_dimensions.has_edition.has_year.has_type{
    .dimensions {
      grid-column: span 6; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
  }

  &.has_materials.has_edition.has_year.has_type.has_collaborators{
    .materials {
      grid-column: span 4; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
  }

  &.has_materials.has_year.has_type.has_collaborators,
  &.has_materials.has_edition.has_type.has_collaborators,
  &.has_materials.has_edition.has_year.has_collaborators,
  &.has_materials.has_edition.has_year.has_type{
    .materials {
      grid-column: span 6; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
  }

  &.has_edition.has_year.has_type.has_collaborators{
    div {
      grid-column: span 3; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
  }

  &.has_materials.has_dimensions.has_edition,
  &.has_materials.has_dimensions.has_type,
  &.has_materials.has_dimensions.has_collaborators,
  &.has_materials.has_dimensions.has_year{
    .materials {
      grid-column: span 5; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
    .dimensions {
      grid-column: span 5; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
  }


  // 
  // 
  // Has 4
  // 
  // 

  &.has_materials.has_dimensions.has_year.has_type,
  &.has_materials.has_dimensions.has_year.has_collaborators,
  &.has_materials.has_dimensions.has_type.has_collaborators,
  &.has_materials.has_dimensions.has_edition.has_type,
  &.has_materials.has_dimensions.has_edition.has_collaborators,
  &.has_materials.has_dimensions.has_edition.has_year{
    .materials {
      grid-column: span 4; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
    .dimensions {
      grid-column: span 4; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
  }

  // 
  // 
  // Has 5
  // 
  // 

  &.has_materials.has_dimensions.has_year.has_type.has_collaborators,
  &.has_materials.has_dimensions.has_edition.has_type.has_collaborators,
  &.has_materials.has_dimensions.has_edition.has_year.has_collaborators,
  &.has_materials.has_dimensions.has_edition.has_year.has_type{
    .materials {
      grid-column: span 4; 

      @media only screen and (max-width: 850px) {
        grid-column: span 2; 
      }
    }
    .dimensions {
      grid-column: span 2; 

      @media only screen and (max-width: 850px) {
        grid-column: span 1; 
      }
    }
  }

  .dimensions {
    // grid-column: span 3; 
  }
  
  .materials {
    // grid-column: span 3; 
  }

  
}



.work .date {
}

.work .meta .edition{
}

.work .meta .type {
}

.work .meta .collaborators {
}

.work .meta .dimensions {
}

.work .meta .materials {
}

.work .discription {
  grid-area: b;
}

.work .hero_image {
  grid-area: h;
  padding: 3rem 0 3rem 0;
}

.work .hero_image picture img {
  
}

.work .hero_audio{
  grid-area: h;
  padding: 3rem 0 3rem 0;
  max-width: 100%;
}

.work .hero_video{
  grid-area: h;
  margin: 3rem auto 3rem auto;
  max-width: 100%;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 1500px;
} 

.work .hero_video iframe{
  aspect-ratio: 16 / 9;
}

.work .hero_image img {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  margin: auto;
}



.work .links {
  grid-area: l;

  ul{
    list-style: none;
    padding-left: 0;

    li{
      position: relative;
      padding-left: 15px;
      margin-bottom: .5em;

      &::before {
        content: "";
        width: 10px;
        border-top: var(--border-size) solid var(--main-color);
        display: block;
        position: absolute;
        top: calc(50% - (var(--border-size)/2) );
        left: 0;
      }    
    }  
  }
}

.work .images {
  grid-area: s;
}

.work .exhibitions{
  grid-area: e;
}

.work .images .support_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-flow: column; */
  gap: 15px;
}

.work .images .support_image {

}

.work .images .support_images .audioplayer{
  grid-column-start: 1;
  grid-column-end: 4;
}

.work .images .support_image.active {
  order: -1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.work .images div {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // justify-content: flex-start;
  // align-items: start;
  // align-content: start;
  // gap:10px;
}

.work .images div:after {
  // display: block;
  display:none;
  content: " placeholder ";
  flex: 999 999 auto;
}

.work .support_image{
  aspect-ratio: 4/3;
}

.work .support_images .lightbox{
  aspect-ratio: 4/3;
}

.work .images div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  

.main{
  padding-top: 4rem;
}

.tmpl-work .main .label,
.main .label {
  --weight: 300;
  font-weight: var(--weight);
  font-size: 0.75rem; 
  // line-height: 1.2em; 
  // min-height: var(--gap);

  /* font-variant: small-caps; */
  padding-bottom: 0.5rem; 
  border-bottom: var(--border-size) solid var(--main-color);
  margin-bottom: 0.75rem;

  @media only screen and (max-width: 600px) {
    font-size: .5rem;
    padding-bottom: 5px;
  }
}
