---
layout: layouts/base.njk
---


<div class="info">
  <div class="info__headshot">
    <img src="https://picsum.photos/1440/1920" alt="FPO - 4:3" />
  </div>
  <div class="info__bio">
    <div class="label">Bio:</div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo magni esse cum porro modi tempore, quis
      atque maxime amet veritatis? Assumenda minima exercitationem commodi quia. Asperiores tempore ipsum nobis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo magni esse cum porro modi tempore, quis
      atque maxime amet veritatis? Assumenda minima exercitationem commodi quia. Asperiores tempore ipsum nobis.
    </p>
  </div>
  <div class="info__cv">
    <div class="label">CV:</div>
    <!-- CV Link -->
  </div>
  <div class="info__statement">
    <div class="label">Artist Statement:</div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo magni esse cum porro modi tempore, quis
      atque maxime amet veritatis? Assumenda minima exercitationem commodi quia. Asperiores tempore ipsum nobis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo magni esse cum porro modi tempore, quis
      atque maxime amet veritatis? Assumenda minima exercitationem commodi quia. Asperiores tempore ipsum nobis.
    </p>
  </div>

  <div class="info__links">
    <div class="label">Links:</div>
    <ul>
      <li><a href="https://tumblr.anthonywarnick.com/">tumblr</a></li>
      <li><a href="https://www.are.na/anthony-warnick/">are.na</a></li>
      <li><a href="https://github.com/ajwarnick/">github</a></li>
    </ul>
  </div>
  <div class="info__recent">
    <div class="info__recent__music">
      <div class="label">Listening:</div>
      <ul>
        <li><a href="http://h-rd.co/">HRD</a></li>
        <li><a href="https://github.com/">Github</a></li>
        <li><a href="http://h-rd.co/">HRD</a></li>
        <li><a href="https://github.com/">Github</a></li>
      </ul>
    </div>
    <div class="info__recent__books">
      <div class="label">Reading:</div>
      <ul>
        <li><a href="http://h-rd.co/">HRD</a></li>
        <li><a href="https://github.com/">Github</a></li>
        <li><a href="http://h-rd.co/">HRD</a></li>
        <li><a href="https://github.com/">Github</a></li>
      </ul>
    </div>
  </div>

  <div class="info__cv">
    <!-- CV Link -->
  </div>
  <div class="info__statement"></div>
  <div class="info__diagram"></div>
  <div class="info__contact">
    <div class="info__contact__email"></div>
    <div class="info__contact__address"></div>
    <div class="info__contact__etc"></div>
  </div>
  <div class="info__contact__newsletter"></div>
</div>
