---
permalink: /materials/
layout: layouts/home.njk
templateClass: list-view
---

<h1>Materials</h1>

{% for material in collections.workByMaterials %}
    {% set tagUrl %}/materials/{{ material.slug }}/{% endset %}
    <ul>
        <li><a href="{{ tagUrl | url }}" class="tag">{{ material.title | title }}</a></li>
    </ul>
{% endfor %}
