---
permalink: /categories/
layout: layouts/home.njk
templateClass: list-view
---

<h1>Categories</h1>

{% for tag in collections.everything %}
  {% set tagUrl %}/work/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}