---
layout: layouts/base.njk
pagination:
  data: collections.everything
  size: 1
  alias: tag
permalink: collection/{{ tag | slugify }}/index.html
renderData:
  title: Tagged “{{ tag }}”
templateClass: list-view
---

<div class="tag__title">
    {{ tag | upper }}
</div>
    
{% set postslist = collections[tag] %}
{% include "partials/postlist.njk" %}
