<!-- start of partials/meta -->

<meta name="theme-color" media="(prefers-color-scheme: light)" content="blue">
<meta name="theme-color" media="(prefers-color-scheme: dark)"  content="black">
<meta name=”robots” content="index, follow">

<link rel="icon" type="image/x-icon” href="/favicon.ico" sizes="any" />
<link rel="manifest" href="/manifest.json">

<meta property="og:url" content="{{site.url}}{{ page.url }}" />
<meta property="og:title" content="{% if title.length %} {{ title }} {% else %} Works {% endif %}" />
<meta property="og:site_name" content="Anthony Warnick" />
<meta property="og:description" content="{% if description.short.length %}{{ description.short }}{% else %}{{ site.description }}{% endif %}"/>
<meta name="description" content="{% if description.short.length %}{{ description.short }}{% else %}{{ site.description }}{% endif %}" />

{% if featured_image %} 
    {% set myURL = featured_image | string %}
    {% if './' in myURL %}
        <meta property="og:image" content="{{site.url}}/{% imageURL featured_image %}" />
    {% else %}
        {% set canonical = "./src" + page.url + featured_image %}
        <meta property="og:image" content="{{site.url}}/{% imageURL canonical %}" />
    {% endif %}
{% endif %} 

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@anthonywarnick" />
<meta name="twitter:title" content="{% if title.length %}{{ title }}{% else %} Works {% endif %}" />
<meta name="twitter:description" content="{% if description.short.length %}{{ description.short }}{% else %}{{ site.description }}{% endif %}" />

{% if featured_image %} 

    {% set myURL = featured_image | string %}
    {% if './' in myURL %}
        <meta name="twitter:image" content="{{site.url}}/{% imageURL featured_image %}" />
        <meta name="twitter:image:alt" content="Alt text for image" />
    {% else %}
        {% set canonical = "./src" + page.url + featured_image %}
        <meta name="twitter:image" content="{{site.url}}/{% imageURL canonical %}" />
        <meta name="twitter:image:alt" content="Alt text for image" />
    {% endif %}
    
{% else %}

{% endif %}

<!-- end of partials/meta -->